/* /////////////////////////////////// 
    header
///////////////////////////////////// */

.header {
    width: auto;
    height: 3rem;
    top: 0;
    padding: 1%;
    margin: 1rem 4%;
    position: relative;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(38, 50, 56, 5%);
}


.address {
    display: flex;
    align-items: center;
}

.header-address {
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    color: var(--NColor2);
}

.img-address {
    width: 1rem;
    margin-left: 0.5rem;
    animation: anim-img 2s ease-in-out 0s infinite normal;
}


@keyframes anim-img {
    0% {
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.header_logo {
    top: 0;
    right: 0;
    height: 3rem;
    margin: 0 0.5rem 0 1.5rem;
    float: right;
}

/* ///////////////////////////////////////////////
 header user profile 
/////////////////////////////////////////////// */

.profile_admin {
    top: 0;
    bottom: 0;
    left: 0;
    float: left;
    position: absolute;
    display: flex;
    padding: 0% 1.5%;
    border-radius: 15px;
    transition: var(--transition);
    align-items: center;
}

.name_profile {
    font-size: 14px;
    font-weight: 500;
}

.name_profile:hover {
    background: var(--NColor1);
    cursor: pointer;
    color: #fff;
    transition: var(--transition);
}

.profile_admin:hover {
    background: var(--NColor1);
    cursor: pointer;
    color: #fff;
    transition: var(--transition);
}

.profile_admin_img {
    width: 30px;
    background: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    float: right;
    margin-left: 10px;
}

.profile_admin_more {
    height: 25%;
    margin-right: 20px;
    transform: rotate(90deg);
}

/* ///////////////////////////////////////////////
dropdown
/////////////////////////////////////////////// */

.dropdown {
    float: right;
    overflow: hidden;
}

.dropbtn {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
}

.dropdown_content {
    width: 100%;
    left: 0;
    top: 0;
    margin-top: 30%;
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(38, 50, 56, 0.16);
    z-index: 1;
    padding: 10px;
}

.sub_dropdown {
    width: 100%;
    height: auto;
    color: #000;
    padding: 10px 10px;
    display: block;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    transition: var(--transition);
    border-radius: 8px;
    cursor: pointer;
}

.dropdown_content .sub_dropdown:hover {
    background: var(--NColor1);
    color: #fff;
    transition: var(--transition);
    box-shadow: 0 0 15px rgba(38, 50, 56, 0.16);
}

.show {
    display: block;
}

/* /////////////////////////////////// 
    footer
///////////////////////////////////// */

.footer {
    width: 100%;
    height: 1.5rem;
    display: flex;
    padding: 1%;
    float: right;
    position: absolute;
    bottom: 0;
    background: var(--bluegray50);
}

.copyright {
    margin-left: 4%;
    left: 0;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
}
