@import url(root.css);
@import url(font.css);
@import url(headerfooter.css);

* {
    margin: 0;
    padding: 0;
    direction: rtl;
    text-decoration: none;
    border: 0 transparent;
    text-align: center;
    line-height: normal;
    align-items: center;
    align-content: center;
    list-style-type: none;
    box-sizing: border-box;
    background: transparent;
    font-family: IRANSans;
    outline: 0;
    color: var(--NColor2);
}

.clear {
    clear: both;
}

body {
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
    position: fixed;
    background: var(--NColor4);
}

/* /////////////////////////////////// 
    content
///////////////////////////////////// */

.content {
    width: 100%;
    height: 85%;
    padding: 0.5% 4% 2% 4%;
    float: right;
    position: relative;
}

.content_task_list {
    width: 31%;
    height: 100%;
    margin: 0% 1%;
    float: right;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    scrollbar-width: none;
    border-radius: 8px;
    padding: 1% 0 0 0;
}

.back_bluegray {
    background-color: var(--bluegray50);
}

.content_task_header {
    width: 100%;
    margin: 1% 0%;
    padding: 0% 5%;
    display: flex;
    align-items: center;
}

.content_task_header>p {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    float: right;
}

.new_task_btn {
    left: 0;
    float: left;
    padding: 1% 2%;
    border-radius: 8px;
    background-color: var(--green500);
    transition: var(--transition);
    display: flex;
    column-gap: 0.5rem;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
}

.new_task_btn:hover {
    border-radius: 8px;
    background-color: var(--green700);
    transition: var(--transition);
    cursor: pointer;
    box-shadow: 0 0 8px var(--green300);
}

.new_task_btn>p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.new_task_btn>img {width: 1rem;}

.content_list_body {
    width: 100%;
    height: 100%;
    margin: 0% 1%;
    float: right;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    scrollbar-width: none;
    overflow: auto;
    /* this will hide the scrollbar in mozilla based browsers */
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    /* this will hide the scrollbar in internet explorers */
    -ms-overflow-style: none;
}

.content_list_body::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    /* for Chrome, Safari, and Opera */
}

.box_task {
    width: 92%;
    height: auto;
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(38, 50, 56, 0.16);
    position: relative;
    margin: 1.5% 3%;
    transition: var(--transition);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.box_task:hover {
    box-shadow: 0 0 15px rgba(38, 50, 56, 0.16);
    margin: 3% 3%;
    cursor: pointer;
    transition: var(--transition);
}

.box_task_status {
    width: 1.5%;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
    float: left !important;
    left: 0;
    position: absolute;
}

.status_create {
    background-color: var(--bluegray500);
}

.status_design {
    background-color: var(--amber500);
}

.status_videoedit {
    background-color: var(--purple500);
}

.status_accept {
    background-color: var(--green500);
}

.status_edit {
    background-color: var(--blue500);
}

.status_error {
    background-color: var(--red500);
}

.box_task_text {
    padding: 5% 5%;
    float: right;
    position: relative;
    width: 100%;
}

.text_task {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
    float: right;
}

.description_task {
    width: 100%;
    height: auto;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    float: right;
    color: var(--bluegray500);
    margin-top: 1%;
}

.date_create_task {
    width: 100%;
    height: auto;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    float: left;
    color: var(--bluegray500);
    margin-top: 1%;
}

.red {
    color: var(--red500);
    font-weight: bold;
}

/* /////////////////////////////////// 
    dilog box new task
///////////////////////////////////// */

.dialog_content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    transition: var(--transition);
    justify-content: center;
    align-content: center;
    overflow: hidden;
    background: var(--colorPrimary);
}

.dialog_model {
    min-width: 30%;
    max-width: 40%;
    display: block;
    position: absolute;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(38, 50, 56, 0.32);
    z-index: 1;
    padding: 2% 5%;
}

.dialog_model>form>p {
    width: 100%;
    height: auto;
    font-size: 16px;
    text-align: right;
    float: right;
    margin-bottom: 2%;
}

.close {
    float: left;
    font-size: xx-large;
    font-weight: bold;
    color: #a8a8a8;
    text-align: left;
    left: 0;
    position: relative;
}

.close:hover,
.close:focus {
    color: #f44336;
    text-decoration: none;
    cursor: pointer;
}

.show {
    display: block;
    transition: var(--transition);
}


/* ///////////////////////////////////////////////
input text
/////////////////////////////////////////////// */

.input_text {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    background: #ffffff;
    border-radius: 8px;
    border: 2px solid var(--bluegray100);
    cursor: text;
    padding: 10px 15px 10px 15px;
    margin-bottom: 5%;
    transition: var(--transition);
    float: right;
}

.input_text:focus {
    font-weight: bold;
    transition: var(--transition);
}


.input_textarea {
    min-height: 25%;
}

/* ///////////////////////////////////////////////
input button
/////////////////////////////////////////////// */

.input_button {
    width: auto;
    min-width: 20%;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 60px;
    margin: 1%;
    float: left;
    transition: var(--transition);
    position: relative;
}

.active {
    background: var(--green500);
}

.active:hover {
    background: var(--green700);
    transition: var(--transition);
}

.delete {
    background: var(--red500);
}

.delete:hover {
    background: var(--red700);
    color: #ffffff;
    transition: var(--transition);
}

.edit {
    background: var(--amber500);
}

.edit:hover {
    background: var(--amber700);
    transition: var(--transition);
}

.back {
    background: var(--bluegray500);
}

.back:hover {
    background: var(--bluegray700);
    transition: var(--transition);
}

/* ///////////////////////////////////////////////
input radio
/////////////////////////////////////////////// */

.inputGroupRadio {
    width: auto;
    min-width: 22%;
    height: auto;
    float: right;
    text-align: right;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 5%;
    cursor: pointer;
    transition: var(--transition);
    border: 2px solid var(--bluegray100);
}

.inputGroupRadio>input {
    cursor: pointer;
}

.inputGroupRadio>label {
    cursor: pointer;
    padding-right: 5px;
    font-size: 14px;
}


/* ///////////////////////////////////////////////
    combo box
/////////////////////////////////////////////// */

.combo_box {
    width: 100%;
    height: auto;
    background: #ffffff;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    border: 2px solid var(--bluegray100);
    font-size: 14px;
    text-align: right;
    float: right;
    margin-bottom: 5%;
    font-weight: normal;
    transition: var(--transition);
}

/* ///////////////////////////////////////////////
profile page
/////////////////////////////////////////////// */

.img_profile {
    width: 100%;
    height: auto;
    max-height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

/* ///////////////////////////////////////////////
message
/////////////////////////////////////////////// */

.message {
    width: auto;
    height: auto;
    z-index: 1;
    font-size: 14px;
    font-weight: 500;
    padding: 1%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.content_message {
    width: 100%;
    padding: 1%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.content_message>div {
    min-width: 15%;
    position: relative;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 0 8px rgb(29 107 242 / 32%);
    -webkit-animation: message_animate 0.5s none ease-in-out;
    animation: message_animate 0.5s none ease-in-out;
    background: red;
}

.content_message>div>p {
    font-size: 16px;
    text-align: center;
    display: block ruby;
    color: var(--backcolor);
    font-weight: bold;
}

.content_message>div>div {
    width: 100%;
    height: 3px;
    float: right;
    border-radius: 8px;
    margin-top: 8px;
    background: var(--red700);
    opacity: 25%;
    -webkit-animation: message_animate 0.5s none ease-in-out;
    animation: message_animate 0.5s none ease-in-out;
}

/* ///////////////////////////////////////////////
data not found
/////////////////////////////////////////////// */

.box_dont_data {
    padding: 15%;
    margin-top: 10%;
}

.box_dont_data>img {
    width: 50%;
}

.box_dont_data>p {
    color: #000000;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin-top: 3%;
}

.box_dont_data>span {
    color: var(--blue500);
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    margin-top: 2%;
}