:root {

  --colorPrimary: var(--blue500);
  /* blue500 */
  --colorPrimaryDark: #2c3e50;
  /* blue700 */
  --colorAccent: var(--amber500);
  /* amber500 */


  --NColor1:#DD3333;
  --NColor2:#04102b;
  --NColor3:#c7c7c7;
  --NColor4:#f5f5f5;

  --bluegray50: #eceff1;
  --bluegray100: #cfd8dc;
  --bluegray500: #607d8b;
  --bluegray600: #546e7a;
  --bluegray700: #455a64;
  --bluegray900: #263238;



  --blue300: #64B5F6;
  --blue500: #2196F3;
  --blue600: #1e88e5;
  --blue700: #1976D2;
  --blue800: #1565c0;
  --blue900: #0D47A1;

  --amber300: #FFD54F;
  --amber500: #FFC107;
  --amber700: #FFA000;
  --amber900: #FF6F00;

  --green300: #81c784;
  --green500: #4CAF50;
  --green700: #388e3c;

  --red700: #d32f2f;
  --red500: #f44336;
  --red300: #e57373;

  --purple500: #9C27B0;
  --purple700: #7B1FA2;
  --purple900: #4A148C;

  --transition: 0.5s all ease;
}